<header class="sticky-top">
  <nav class="navbar navbar-light bg-darke">
    <a class="navbar-brand">
      <i
        class="fa fa-bars mr-2"
        (click)="menu.abreMenu()"
        (keyup.space)="menu.abreMenu()"
      >
      </i>

      Gerenciamento de Restaurante
    </a>

    <app-menu #menu>
      <ul class="list-unstyled">
        <li>
          <a [routerLink]="['/comidas']">Comidas</a>
        </li>
        <li>
          <a [routerLink]="['/bebidas']">Bebidas</a>
        </li>
        <li>
          <a [routerLink]="['/eventos']">Eventos</a>
        </li>
        <li>
          <a [routerLink]="['/agendamentos']">Agendamentos</a>
        </li>
        <li>
          <a [routerLink]="['/fornecedores']">Fornecedores</a>
        </li>
        <li>
          <a [routerLink]="['/funcionarios']"> Funcionários</a>
        </li>
      </ul>
    </app-menu>

    <div *ngIf="usuario$ | async as usuario">
      <div *ngIf="usuario.nome; else login">
        <i class="fa fa-user-circle mr-1"> </i>
        <a class="mr-1">{{ usuario.nome }}</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>

  <ng-template #login>
    <span class="navbar-text">
      <a [routerLink]="['']">Login</a>
    </span>
  </ng-template>
</header>
