.text-center{
  font-family: 'open_sansregular';
  font-weight: 600;
  font-size:2em;
  color: rgb(255, 255, 255);
  text-align: left;
  margin-bottom: 20px;
}

select{
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.card
{
  color: white;
  background-color: rgb(43, 42, 42);
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
  margin: 2em auto;
  width: 40rem;
}

.card-body{
  margin-right: 4em;
  margin: 1em auto;
  width: 30rem;
}

input{
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color:rgb(247, 247, 247);
}

button{
  color: white;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}

